body {
  background-image: url("https://images.pexels.com/photos/4723929/pexels-photo-4723929.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  max-height: auto;
}
.card {
  background: #fdf7e3;
}

.searched-details {
  font-family: "Istok Web", sans-serif;
}
.main-temp {
  font-size: 56px;
  padding-top: 20px;
}
.fas.fa-sun {
  color: #eebb4d;
}

#weather-description {
  text-transform: capitalize;
}
#source-code-link {
  color: white;
}
